import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
df = pd.read_excel('stats_list.xlsx')
df_nadao = pd.read_excel('stats_list_nadao.xlsx')
df['fecha'] = pd.to_datetime(df['fecha'])
df['engagement'] = ((df['likes']+df['comentarios'])/df['vistas'])*100
df = df.sort_values('fecha')
df_nadao['fecha'] = pd.to_datetime(df_nadao['fecha'])
df_nadao['engagement'] = ((df_nadao['likes']+df_nadao['comentarios'])/df_nadao['vistas'])*100
df_nadao = df_nadao.sort_values('fecha')
df_proy = pd.concat([df_nadao, df], ignore_index=True)
df_proy =    df_proy.dropna(subset=['vistas','likes','comentarios'])
df_proy = df_proy[df_proy['vistas']>0]
df_proy = df_proy.sort_values('fecha')
Pred = pd.date_range(start='2026-2-27', end='2027-12-31', freq='d')
x_ordinal = df_proy['fecha'].map(pd.Timestamp.toordinal)
coordenadas = np.poly1d(np.polyfit(x_ordinal, df_proy['engagement'], 2))
predicho = coordenadas(Pred.map(pd.Timestamp.toordinal))
fig, ax1 = plt.subplots(figsize=(12, 6))
ax1.set_xlabel('año de lanzamiento')
ax1.set_ylabel('Vistas', color='tab:blue')
ax1.bar(df_proy['fecha'], df_proy['vistas'], color='tab:blue', alpha=0.3, label='Visitas')
ax1.set_xlim(df_proy['fecha'].min(), Pred.max())
alpha=0.3
ax2 = ax1.twinx()
ax2.plot(df_proy['fecha'], df_proy['engagement'], color='tab:red', marker='o', markersize=2, label='%Engagement')
plt.title('Analisis PP-Krit', fontsize=15)
ax2.plot(df_proy['fecha'], coordenadas(x_ordinal), color='gold', linestyle='-', label='Ajuste Histórico')
ax2.plot(Pred, predicho, color='orange', linestyle='--', linewidth=3, label='Predicción 2027')
ax2.set_ylim(0, df_proy['engagement'].max()*1.2)
ax2.legend(loc='upper left')
print(f"Última fecha de predicción: {Pred[-1]} | Valor: {predicho[-1]}")
fig.tight_layout()
plt.show()  
